*{
    font-family: 'Kanit', sans-serif;
    font-family: 'Prompt', sans-serif;
    margin:0px;
}

.chat_container{
    width:100%;
    height: 100vh;
    background-color:black;
    position: relative
}
.side_bar{
    position: absolute;
    background-color: rgb(97, 97, 97);
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 2px black solid;
    z-index: 5;
}

.logo{
    background-color:beige ;
}

.side_text{
    opacity: 0;
}

.toggle{
    width: 100%;
    height: 70px;
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggle img{
    width: 50px;
    height: 50px;
    gap: 50px;
    margin-bottom: 22px;
}

.toggle_messages{
    margin-top: 150px;
}

.toggle_settings{
    margin-top: 100px;
}

.toggle:hover{
    background-color: rgb(157, 157, 157);
}

.toggle:hover img{
    transform: scale(1.1);
    transform: translate(0%, -35%);
    transition: 0.5s ease-out 0.1s;
}

.toggle:hover span{
    opacity: 1;
    transform: translate(0%, -110%);
    transition: 0.3s ease-out 0.1s;
    font-weight: bold;
}

.contacts_bar{
    position: absolute;
    background-color:  rgb(157, 157, 157);
    height: 100%;
    width: 30%;
    margin-left: calc(5% + 2px);
    display: flex;
    flex-direction: column;
}

.divdiv{
    position: absolute;
    width: 100%;
    height: 9%;
    background-color: rgb(97, 97, 97);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cb_title{
    font-size: 2.5rem;
    font-weight: bold;
}

.contacts_bar div img{
    width: 50px;
    height: 50px;
}

.contacts_bar div img:hover{
    opacity: .5;
}

.search{
    margin-top: 100px;
}

.search_set{
    
}