*{
    font-family: 'Kanit', sans-serif;
    font-family: 'Prompt', sans-serif;
    margin:0px;
}

.chat_container{
    width:100%;
    height: 100vh;
    background-color:black;
    position: relative;
}
.side_bar{
    position: absolute;
    background-color: rgb(97, 97, 97);
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 2px black solid;
    z-index: 5;
}

.logo{
    background-color:beige ;
}

.side_text{
    opacity: 0;
}

.toggle{
    width: 100%;
    height: 70px;
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggle img{
    width: 50px;
    height: 50px;
    gap: 50px;
    margin-bottom: 22px;
}

.toggle_messages{
    margin-top: 150px;
}

.toggle_settings{
    margin-top: 100px;
}

.toggle:hover{
    background-color: rgb(157, 157, 157);
}

.toggle:hover img{
    transform: scale(1.1);
    transform: translate(0%, -35%);
    transition: 0.5s ease-out 0.1s;
}

.toggle:hover span{
    opacity: 1;
    transform: translate(0%, -110%);
    transition: 0.3s ease-out 0.1s;
    font-weight: bold;
}

.contacts_bar{
    position: absolute;
    background-color:  rgb(157, 157, 157);
    height: 100%;
    width: 30%;
    margin-left: calc(5% + 2px);
    display: flex;
    flex-direction: column;
}

.divdiv{
    width: 100%;
    height: 7.5%;
    background-color: rgb(97, 97, 97);
    display: flex;
    align-items: center;
}

.cb_title{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 220px;
}

.addContact{
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.addContact:hover{
    opacity: .5;
    cursor: pointer;
}

.addGroup{
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.addGroup:hover{
    opacity: .5;
}

.search_set{
    background-color: rgb(97, 97, 97);
    display: flex;
    justify-content: center;
}

.searchh{
    width: 80%;
    height: 100%;
    background-color: rgb(56, 56, 56);
    text-decoration: none;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    font-size: 1.01rem;
}

.searchimg{
    background-color: rgb(56, 56, 56);
    width: 40px;
    height: 40px;
    padding: 5px;
}

.direct_or_group{
    background-color: rgb(97, 97, 97);
    display: flex;
    height: 50px;
}

.direct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    text-align: center;
    font-weight: bold;
}

.direct:hover{
    background-color: rgb(88, 88, 88);
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    text-align: center;
    font-weight: bold;
}

.group:hover{
    background-color: rgb(88, 88, 88);
}

.directs{
    height: 80%;
}

.addnewcontact{
    position: absolute;
    z-index: 4;
    margin-top: 300px;
    margin-left: 700px;
    background-color: rgb(157, 157, 157);
    width: 400px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 3rem;
}

.addnewcontact span{
    margin-top: -24px;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.addnewcontact form input{
    margin-left: 14px;
    margin-bottom: 10px;
}

.addnewcontact form div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 10px;
}

.addnewcontact form div button{
    width: 100px;
    height: 30px;
}

.individualContact{
    width: calc(100% - 20px);
    height: 60px;
    background-color: rgb(185, 185, 185);
    border-bottom: 1px black solid;
    margin: 0px;
    font-size: 1.2rem;
    padding-top: 25px;
    padding-left: 20px;
}

.individualContact:hover{
    background-color: rgb(116, 116, 116);
    cursor: pointer;
}

.actualChatArea{
    position: absolute;
    background-color: rgb(24, 24, 24);
    margin-left: 576px;
    height: 100%;
    width: 1245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactName{
    box-sizing: border-box;
    color: white;
    width: 100%;
    height: 8%;
    font-weight: bold;
    font-size: 1.4rem;
    background-color:rgb(114, 114, 114);
    padding-left: 5%;
    padding-top: 18px;
    /* margin-top: -24.5%; */
    display: flex;
}

.actualChatArea img{
    position: absolute  ;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin-left: 85%;
}

.actualactualChatArea{
    width: 100%;
    height: 82%;
    background-color: rgb(0, 0, 0);
}

.sendAndMediaArea{
    background-color: rgb(70, 70, 70);
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
}

.messageToSend{
    box-sizing: border-box;
    width: 80%;
    height: 70%;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    background-color: rgb(177, 177, 177);
    font-size: 1.2rem;
    padding-left: 20px;
}

.sendAndMediaArea img{
    width: 40px;
    height: 40px;
    margin-left: 90%;
}

.sendAndMediaArea img:hover{
    opacity: .5;
    cursor: pointer;
}